[submodule "XML-101"]
	path = XML-101
	url = https://github.com/iam-Sayantan/XML-101.git
[submodule "XSLT_XPATH_XQUERY"]
	path = XSLT_XPATH_XQUERY
	url = https://github.com/iam-Sayantan/XSLT_XPATH_XQUERY.git
[submodule "JSP_SERVLETS_JDBC"]
	path = JSP_SERVLETS_JDBC
	url = https://github.com/iam-Sayantan/JSP_SERVLETS_JDBC.git
