<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- load the properties file: sport.properties -->
	<context:property-placeholder location="classpath:sport.properties"/>
	
	<!-- Define your beans here -->
	<bean id="myRandomFortuneService" class="com.sayantan.springdemo.RandomFortuneService"></bean>
	<bean id="myFortune" class="com.sayantan.springdemo.HappyFortuneService"></bean>
	<bean id="mySalary" class="com.sayantan.springdemo.GetSalary"></bean>
	
	<bean id="myCoach" class="com.sayantan.springdemo.BaseballCoach">
	
		<!-- set up constructor injection  -->
		<constructor-arg ref="myFortune"/>
		<constructor-arg ref="mySalary"/>	

	</bean>
	
	<bean id="myCricketCoach"
		class="com.sayantan.springdemo.CricketCoach">
		
		<!-- set up setter injection -->
		<property name="fortuneService" ref="myFortune"/>
		<property name="sal" ref="mySalary"/>
		
		<!-- inject literal values -->
		<!-- <property name="emailAddress" value="abc@gmail.com"/> -->
		<!-- <property name="team" value="KKR"></property> -->
		
		<property name="emailAddress" value="${sport.email}"/>
		<property name="team" value="${sport.team}"/>
		
	</bean>
</beans>





